.demo {
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e100f;
}

.svg {
  width: 70vw;
  max-height: 80vh;
  max-width: 500px;
  opacity: 0;
}

.shadow {
  opacity: 0.2;
}
